* {
  box-sizing: border-box;
}

body {
  margin:0;
  width: 100vw;
}

/*
  ========================
  block1
  ========================
*/

.block1
{
  background: #1f2937;
  padding: 75px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.block1 h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.header {
  display: flex;
  width: 1000px;
  justify-content: center;
  padding: 5px 25px;
}

.header div {
  font-size: 24px;
  color: #f9faf8;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.header .links {
  margin-left: auto;
}

.hero-wrapper {
  display: flex;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.block1-img {
  width: 500px;

  height: auto;
  padding: 25px;

}

.block1-content {
  width: 500px;
  padding: 25px;
}

.block1-content h1 {
  margin-bottom: 0;
}

.block1-content p {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 18px;
  color: #f9faf8;
}
/*
  ========================
  block2
  ========================
*/

.block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block2 img {
  width:200px;
  height: 200px;
  min-width: 200px;
  border-radius: 10px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}

.img-container div {
  text-align: center;
  width: 200px;
  margin: 35px;

}
/*
  ========================
  block3
  ========================
*/

.block3 {
  height: 300px;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-size: 36px;
}

.block3 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
}

.block3 .p1 {
  margin-bottom: 0;
}
.block3 .author {
  margin-left: auto;
  margin-top: 0;
}
/*
  ========================
  block4
  ========================
*/

.block4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block4 p {
  margin-left: 20px;
  color: #f9faf8;
}

.block4-content {
  display: flex;
  background: #3882f6;
  margin: 50px;
  width: 1000px;
}

#textButton {
  align-self: center;
  margin: 35px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 2px 12px;
  margin-left: auto;
  margin-right: 75px;
  background: none;
  color: #f9faf8;
}

#textButton:hover {
  background: #f9faf8;
  color: #3882f6;
}

.block4-content .text {
  display: flex;
  align-items: center;
  margin: 15px 35px;
}


/*
  ========================
  footer
  ========================
*/

footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  color: #efe7eb;
  background: #1f2937;
}
