/*
  ========================
  header
  ========================
*/

header {
  background: #1f2937;
  margin-bottom: 0;
}

header div {
  font-size: 24px;
  color: #f9faf8;
}

header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/*
  ========================
  block1
  ========================
*/

.block1
{
  background: #1f2937;
}

.block1 h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
/*
  ========================
  block2
  ========================
*/

/*
  ========================
  block3
  ========================
*/

/*
  ========================
  block4
  ========================
*/

/*
  ========================
  footer
  ========================
*/
